.container {
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	color: #fff;
	justify-content: center;
	align-items: stretch;
}
.container p {
	margin: 0;
}

@media (min-width: 769px) and (max-width: 991px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.container > div {
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
	}
	.container > div {
		margin: 0 auto;
	}
}
