:root {
	--accent: #2db2ff;
	--bg-dark: #1d1d1d;
	--neon-text-shadow: 0 0 5px var(--accent), 0 0 15px var(--accent),
		0 0 30px var(--accent), 0 0 60px var(--accent);
}

body {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.app {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 100vh;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
}
